// Color Variables
$blackColor: #000000;
$grayColor: #9F9F9F;
$lightGray: #D9D9D9;
$white: #FFFFFF;
$lightPinkish: #F4F4F4;
$lightYellow: #FBEBB5;
$bgLightYellow: #FFF9E5;

// Font Size Variables
$text16: 16px;
$text20: 20px;
$text24: 24px;
$text36: 36px;
$text48: 48px;
$text64: 64px;

// Mixins
@mixin underline-link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 11px;
  cursor: pointer;
}

.header {
  background-color: $lightYellow;
  display: flex;
  align-items: center;
  justify-content: end;

  .navbar-nav {
    margin-left: 100px;
    font-weight: 700;
  }

}

// --->> MOBILE VIEW <<----
@media screen and (max-width: 576px) {

  .header {
    .navbar-collapse {
      position: absolute;
      top: 0;
      margin-top: 60px;
    }

    .navbar-nav {
      margin-left: 0;
      font-weight: 700;
    }
  }
}