// Color Variables
$blackColor: #000000;
$grayColor: #9F9F9F;
$lightGray: #D9D9D9;
$white: #FFFFFF;
$lightPinkish: #F4F4F4;
$lightYellow: #FBEBB5;
$bgLightYellow: #FFF9E5;

// Font Size Variables
$text16: 16px;
$text20: 20px;
$text24: 24px;
$text36: 36px;
$text48: 48px;
$text64: 64px;

// Mixins
@mixin underline-link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 11px;
  cursor: pointer;
}
.error-container {
  background-color: $bgLightYellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // margin-top: 200px;
  padding: 200px;

  .display-1 {
    font-size: 200px;
    font-weight: bold;
    color: rgb(210, 202, 94);
  }

  h3 {
    font-size: $text64;
    font-weight: 700;
  }

  p {
    font-size: $text36;
  }
  
  .button {
    padding: 10px 50px;
    font-size: $text36;
    border: 0;
    border-radius: 10px;
    text-decoration: none;
    color: $blackColor;
    background-color: $lightPinkish;
    box-shadow: 2px 6px 14px 3px #D9D9D9
  }
}