// Color Variables
$blackColor: #000000;
$grayColor: #9F9F9F;
$lightGray: #D9D9D9;
$white: #FFFFFF;
$lightPinkish: #F4F4F4;
$lightYellow: #FBEBB5;
$bgLightYellow: #FFF9E5;

// Font Size Variables
$text16: 16px;
$text20: 20px;
$text24: 24px;
$text36: 36px;
$text48: 48px;
$text64: 64px;

// Mixins
@mixin underline-link {
  font-weight: 700;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 11px;
  cursor: pointer;
}

// Landing Banner Section
.landing-banner {
  background-color: $lightYellow;
  padding-bottom: 100px;

  h2 {
    font-size: $text64;
    text-align: start;
  }

  .underline-links {
    @include underline-link;
    text-align: start;
  }

  img {
    width: 100%;
  }
}


// Coffee Sitting Section
.coffee-sitting-section {
  background-color: $lightPinkish;

  .coffee-cols {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }

  img {
    width: 60%;
    height: 400px;
    margin-top: 60px;
  }
}

.underline-links {
  @include underline-link;
}

.sub-title {
  font-size: $text36;
  font-weight: 700;
  margin-top: 200px;
}

// Top Picks Section
.text-mute {
  color: $grayColor;
}

// New Arrival Section
.new-arrival-section {
  background-color: $bgLightYellow;

  img {
    width: 100%;
  }

  h2 {
    font-size: $text48;
  }

  button {
    box-shadow: 0px 0px 0px 0px black;
    background: transparent;
    height: 64px;
    width: 40%;
  }
}

// Blog Section
.blog-section {
  .blog-img {
    width: 100%;
  }

  p {
    font-size: $text20;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
}

// Instagram Section
.instagram-section {
  margin-top: 80px;

  .container {
    background-image: url('/assets/images/bGinstagram_section.png');
    background-size: cover;
    background-position: right;
    height: 350px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    font-size: $text64;
    font-weight: bold;
  }

  p {
    font-size: $text20;
    font-weight: 600;
  }

  button {
    width: 20%;
    border: 0;
    border-radius: 20px;
    box-shadow: -1px 3px 9px 0px #D4D4D4;
    background-color: transparent;

  }
}